:root{
    --text_dark: #391400; 
    --text_dark_gray: #391400; 
    --white: #ffffff; 
    --primary: #ef6d58; 
    --text_light_gray: #ffffff; 
    --border: #F3D1BF;
    --bg: #16161a; 
    --bg-2: #242629; 
    --grey-1: #dbdde0; 
    --grey-2: #4d4d4d; 
    --orange-ligth: #f9e5da;
    --rose: #FDEBEB;
    --fontFamily: 'Epilogue', sans-serif;
    --h1: 800 4.5rem/5rem var(--fontFamily); 
    --h2: 300 3.5rem/4rem var(--fontFamily); 
    --h3: 800 2.5rem/3rem var(--fontFamily); 
    --h5: 300 1rem/2rem var(--fontFamily); 
    --label: 700 0.75rem/normal var(--fontFamily); 
    --text_big: 400 1.25rem/2rem var(--fontFamily); 
    --text: 400 1rem/2rem var(--fontFamily); 
    --text_small: 400 0.875rem/1.5rem var(--fontFamily); 
    --button: 900 0.875rem/normal var(--fontFamily); 
    --h4-bold: 700 1.5rem/2rem var(--fontFamily); 
    --h4-light: 300 1.5rem/2rem var(--fontFamily); 
    --ok: #4acf50;
    --eror: #f44336;
}

body{
    margin: 0;
}

::-webkit-scrollbar {
    inline-size: .5rem;
    block-size: .5rem;
}

::-webkit-scrollbar-thumb {
    background: #222;
}

::-webkit-scrollbar-track {
    background: #ababab;
}
html{
    scroll-behavior: smooth;
}
.button{
    padding: 1rem;
    background-color: var(--primary);
    font: var(--button);
    color: var(--white);
    border-radius: 6px;
    inline-size: 20.5rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonAlter{
    padding: 1rem;
    background-color: var(--primary);
    font: var(--button);
    color: var(--white);
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover{
    background-color: var(--orange-ligth);
    color: var(--text_dark);
    transition: all .3s ease-in-out;
}

.buttonAlter:hover{
    background-color: var(--orange-ligth);
    color: var(--text_dark);
    transition: all .3s ease-in-out;

}



.par{
    margin: 0;
    margin-block-end: 1.5rem;
    font: var(--text);
    color: var(--text_dark);
}

.parBig{
    margin: 0;
    font: var(--text_big);
    color: var(--text_dark);
    text-decoration: none;
}


.titles{
    font: var(--h4-bold);
    color: var(--text_dark);
    margin: 0;
    margin-block: 1.5rem;
}

.card-cake{
    max-inline-size: 20.5rem;
    &-precies{
        display: flex;
        justify-content: space-between;
    }

    margin-block-end: 3rem;
}

.h5 {
    font: var(--h4-light);
    letter-spacing: 3px;
    color: var(--primary);
}

.h3{
    font: var(--h3);
    color: var(--text_dark);
    margin: 0;
    margin-block-start: 2rem;
    margin-block-end: 1.5rem;
}

.title-high{
    font: var(--h4-light);
    color: var(--text_dark);
    margin: 0;
    margin-block-start: 4rem;
    margin-block-end: 2.5rem;
    text-align: center;
}

textarea {
    resize: none;
}

.none{
    display: none;            
}

.loader{
    text-align: center;
    justify-content: center;
    align-items: center;
}

@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.main {
    min-block-size: 100vh;
    margin: auto;
    max-inline-size: 75rem;
    padding-inline: 1.25rem;


    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .hero {

        background: radial-gradient(50% 50% at 50% 50%, #DFFFF9 0%, rgba(223, 255, 249, 0) 100%);

        img{
            margin-block-start: 1rem;
            margin-block-end: 1.5rem;
            
        }

    }

    .heroImg{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cakes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cake-buscadosTitle{
        text-align: center;
    }
    .cakesBus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .cakesBuscados{
        background: radial-gradient(50% 50% at 50% 50%, #DFFFF9 0%, rgba(223, 255, 249, 0) 100%);

    }

    .testimonies{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card-testimonie{
            
            border: 1px solid var(--border);
            padding: 1.75rem;
            max-inline-size: 20rem;

            .person{
                display: flex;
                gap: 1.5rem;
                justify-content: baseline;
                margin-block-end: 3rem;

            }

            .stars{
                margin-block-end: 5.5rem;
            }
        }

        .card-testimonie:nth-child(3){
            margin-block-end: 4rem;
        }

    }

    .contact{
        .medies{

            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            
            .tel{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
    
            .email{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
        margin-block-end: 2.5rem;
    }

    .formSec{
        background-color: var(--rose);
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.75rem;
        border-radius: 6px;

        h4{
            font: var(--h4-bold);
            color: var(--text_dark);
            margin: 0;
        }
        .label{
            font-family: var(--fontFamily);
            font-size: .75rem;
            font-weight: 700;
            line-height: .75rem;
            color: var(--text_dark);
            text-transform: uppercase;
        }

        .input{
            padding-block: .5rem;
            padding-inline: 1rem;
            font-family: var(--fontFamily);
            font-weight: 400;
            line-height: 2rem;
            border-radius: 6px;
            border: none;
        }
        *::placeholder{
            color: var(--grey-2);
        }
        [required]:valid{
            border: thin solid var(--ok);
        }

        [required]:invalid{
            border: thin solid var(--eror);
        }
        &-error{
            margin-block-start: -1.5rem;
            font: var(--text);
            block-size: 2rem;
            background-color: var(--eror);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            transition: all 800ms ease;
            &.is-active{
                display: block;
                animation: show-message 1s 1 normal 0s ease-out both;
            }
        }
        



        margin-block-end: 6.25rem;
    }

    footer{

        .footer-redes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:.5rem;
            
            .socials{
                display: flex;
                gap: .5rem;
            }
            padding-block-end: 1.5rem;
            border-block-end: 1px solid black;
        }
        .derechos{
            p{
                font: var(--text);
                text-align: center;
                color: var(--text_dark);
            }
        }

    }
    @media screen and (min-width: 728px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4.5rem 30rem;
        grid-template-areas: 
        "header header" 
        "hero heroImg"
        "cakesMainTitle cakesMainTitle"
        "cakesMain cakesMain"
        "cakesBuscadosTitle cakesBuscadosTitle"
        "cakesBuscados cakesBuscados"
        "testimoniesTitle testimoniesTitle"
        "testimonies testimonies"
        "contact formSec"
        "footer footer";

        .header{
            grid-area: header;
        }
        .hero{
            grid-area: hero;
        }
   
        .heroImg{
            grid-area: heroImg;
            img{
                min-block-size: 100%;
                min-inline-size: 100%;
                object-fit:contain;
            }
        }

        .cakes-main-title{
            grid-area: cakesMainTitle;
            h4{
                margin-block-start: 0;
            }
        }
        .cakes-main{
            grid-area: cakesMain;
        }

        .cakes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;
        }

        .cake-buscadosTitle{
            grid-area: cakesBuscadosTitle;
            p{
                text-align: center;
            }
        }
        .cakesBuscados{
            grid-area: cakesBuscados;
        }
        .cakesBus{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;
        }

        .testimoniesTitle{
            grid-area: testimoniesTitle;
        }
        .testimonies{
            grid-area: testimonies;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .card-testimonie:nth-child(3){
                margin-block-end: 0;
            }

        }

        .contact{
            margin-block-start: 10rem;
            grid-area: contact;
            margin-inline-end: 5rem;
            h3{
                font: var(--h3);
            }
            h5{
                margin-block-start: 0;
            }
        }
        .formSec{
            grid-area: formSec;
            margin-block-start: 10rem;

        }
        footer{

            grid-area: footer;
            margin-block-start: 5rem;
            .footer-redes{
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap:.5rem;
            }
    }   }

    @media screen and(min-width: 1024px){
        .h3 {
            font: var(--h1);
        }
        .cakes-main-title{
            h4{
                font: var(--h2);
                margin-block-start: 10rem;
            }
        }
        .cake-buscadosTitle{
            h4{
                font: var(--h2);
                margin-block-start: 10rem;
            }
        }

        .testimoniesTitle{
            h4{
                font: var(--h2);
                margin-block-start: 10rem;
            }
        }
    }   

}

